#header {
      background-color:rgb(102, 204, 255);
      color:red;
      font-family:'times new roman''Times New Roman', Times, serif;
      text-align:center;
      padding:40px;
    }
    body{
      background-color:honeydew
    }
    p{
      background-color:greenyellow;
      font-size:20px;
      font-family:Arial, Helvetica, sans-serif
    }
    img{
      width:256px;
      height:256px;
    }